{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}Create a feedback{% endblock %}

{% block content %}
<div class="pt-2 container">
    {% block heading %} <h4>Your feedback is very much welcome.</h4> {% endblock %}
<div class="row">
    <div class="col-sm-12">
        <form method="POST">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="pb-3">
            <button type="submit" class="btn btn-add-review">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
