{% extends 'base.html' %} {% block features_active %}active {% endblock %} {% block title %}Feedbacks{% endblock %}

<div class="container">
    {% block heading %}
    <!-- Create Feedback. Re-Boot members only -->
    <div class="row">
        <div class="col-sm-12">
            <h1>4
                <span>Member Feedback</span>
                <a href="{% url 'create_a_feedback' %}"><button type="button" class="btn btn-primary pull-right p5">Add Feedback</button></a>
                </h4>
        </div>
    </div>
    {% endblock %}

    <!-- Template for showing Re-Boot member feedback -->
    {% for feedback in feedbacks %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-primary mb-3">
                <div class="card-header">
                    <span class="card-link"><i class="fa fa-eye p5"></i>{{ feedback.views }}
        <div class="card-body">
          <h4 class="card-title">{{ feedback.title|capfirst }}</h4>
          <p class="card-text">{{ feedback.description|capfirst }}</p>
          <div class="card-footer text-muted">
            <span>
            {{ feedback.creator|capfirst }} | {{ feedback.created_date }}
            </span>
                    <a href="{% url 'single_feedback_view' feedback.id %}" class="card-link">View feedback</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
<!-- Pagination setting for user feedback reviews -->
<div class="container">
    {% if feedbacks.has_other_pages %}
    <ul class="pagination">
        {% if feedbacks.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ feedbacks.previous_page_number }}">&laquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&laquo;</a>
        </li>
        {% endif %} {% for i in feedbacks.paginator.page_range %} {% if feedbacks.number == i %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %} {% endfor %} {% if feedbacks.has_next %}
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ feedbacks.next_page_number }}">&raquo;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
</div>
{% endblock %}