{% extends 'base.html' %} {% block content %} {% for post in posts %}
<!-- Loop created to use html template everytime a post is posted in blog -->
<div class="row">
    <!-- User to import their preferred image and user name injected via jinja template -->
    <div class="col-md-2 col-sm-3 text-center">
        <div class="story-image" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}'); height:200px; width:200px"></div>
        <p><span><strong>Author:</strong></span>{{ post.author|capfirst }}</p>
    </div>
    <!-- Main header & blog content -->
    <div class="col-md-10 col-sm-9">
        <h4>{{ post.title }}</h4>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ post.content|truncatewords:30 }}</p>
                <p><a href="{% url 'post_detail' post.id %}" class="btn btn-read-more">Read more</a></p>
                <p><span><strong>Published on:</strong></span> {{ post.published_date }} </p>
                <p><span><strong>Views:</strong></span> {{ post.views }}</p>
                <p><span><strong>Tag:</strong></span> {{ post.tag }}</p>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endfor %} {% endblock %}
