{% extends "base.html" %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!-- Form structure to enable user to add their blog message -->
<header id="blogpost-image" class="pt-3 col-12" alt="Blog home page">
<div class="row">
    <div class="pt-3 pb-1 col-12 text-center">
        <div class="blogpost-header-text">Blog Post <i class="far fa-envelope"></i></div>
    </div>
    <div class="mt-3 mb-3 col col-sm-4 container text-white rounded-border border-light form-view bg-blogpost">
        <div class="pt-3 pb-3 row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{ form | as_bootstrap }}
                <input type=button class="btn btn-back" value="&larr; Back" onClick="history.go(-1)">
                <button type="submit" class="btn btn-add-review">Save</button>
            </form>
        </div>
    </div>
</div>
</header>
{% endblock %}
