{% extends "base.html" %} {% block content %}
<div class="row">
    <!-- User to import their preferred image and user name injected via jinja template -->
    <div class="col-md-2 col-sm-3 text-center">
        <div class="story-image" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}'); height:200px; width:200px"></div>
        <p><span><strong>Author:</strong></span>{{ user|capfirst }}</p>
    </div>
    <!-- Main header, blog content with buttons to navigate back to blog or edit blog -->
    <div class="col-sm-10 col-md-9">
        {% if post.image %}
        <div class="story-image" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}'); height:200px; width:200px"></div>
        {% endif %}
        <h4>{{ post.title }}</h4>
        <div class="row">
            <div class="col-xs-9">
                <p>{{ post.content }}</p>
                <p><span><strong>Published on:</strong></span> {{ post.published_date }} </p>
                <p><span><strong>Views:</strong></span> {{ post.views }}</p>
                <p><span><strong>Tag:</strong></span> {{ post.tag }}</p>
                <a href="{% url 'get_posts' %}" class="btn btn-read-more">Back to Blog</a>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-read-more">Edit Post</a>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}
