{% extends "base.html" %} {% block content %}

<!-- Blog post detail background image banner -->
    <img class="img-fluid m-0 p-0" src="{% static 'img/blog-background3.jpg' %}" alt="Blog Post Detail">

<div class="pt-2 pb-2 container">
    <h4>{{ post.title }}</h4>
    <!-- Main header, blog content with buttons to navigate back to blog or edit blog -->
    <div class="row">
        <!-- User to import their preferred image and user name injected via jinja template -->
        <div class="col-sm-3 text-center">
            <div class="story-image" style="background-image: url('{{ MEDIA_URL }}{{ post.image }}'); height:200px; width:200px"></div>
            <p class="pt-2 pl-1 text-left"><span><strong>Author : </strong></span>{{ post.author|capfirst }}</p>
        </div>
        <div class="col-sm-9">
            <div class="pl-3">
            <p>{{ post.content }}</p>
            <p><span><strong>Published on : </strong></span> {{ post.published_date }} </p>
            <p><span><strong>Views : </strong></span> {{ post.views }}</p>
            <p><span><strong>Tag : </strong></span> {{ post.tag }}</p>
            <a href="{% url 'get_posts' %}" class="btn btn-read-more">Back to Blog</a>
            <a href="{% url 'edit_post' post.id %}" class="btn btn-read-more">Edit Post</a>
            <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}
