{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Boot quality background image banner -->
    <img class="img-fluid m-0 p-0" src="{% static 'img/bootquality-background.jpg' %}" alt="Rugby Boot Quality">

<!-- Rugby boot quality overview -->
<div class="pt-3 pb-1 col-12 text-center">
    <h4>Rugby boot quality</h4>
</div>
<div class="container">
    <div class="row justify-content-center text-center">
        <!-- latest rugby boot arrivals on show -->
        <div class="col-md-4 col-lg-4 card-style">
            <div class="text-center">
                <img src="{% static 'img/brandnew.png' %}" class="px-3 py-3 img-fluid" alt="brand new">
                <div class="boot-detail justify-content-center text-center">
                    <h4>New Boots</h4>
                    <i class="fas fa-shoe-prints"></i>
                    <p class="px-1 py-1"><strong>Orignal box included</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 card-style">
            <div class="text-center">
                <img src="{% static 'img/almostnew.png' %}" class="px-3 py-3 img-fluid" alt="almost new">
                <div class="boot-detail justify-content-center text-center">
                    <h4>Almost New</h4>
                    <i class="fas fa-shoe-prints"></i><i class="fas fa-shoe-prints"></i>
                    <p class="px-1 py-1"><strong>Super condition</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 card-style">
            <div class="text-center">
                <img src="{% static 'img/genweartear.png' %}" class="px-3 py-3 img-fluid" alt="general wear and tear">
                <div class="boot-detail justify-content-center text-center">
                    <h4>Used Boots</h4>
                    <i class="fas fa-shoe-prints"></i><i class="fas fa-shoe-prints"></i><i class="fas fa-shoe-prints"></i>
                    <p class="px-1 py-1"><strong>Worn in, avoiding blisters</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Link to FAQ' to help user understand Re-Boot conditions for boot quality -->
    <div class="px-3 py-3 row justify-content-center">
        <div class="px-3 py-3 text-center">
            <p>For more information on Re-Boot conditions for boot quality, please view our FAQ's.</p>
            <a class="btn btn-learn-more" href="{% url 'faqs' %}">View FAQ's</a>
            <input type=button class="btn btn-back" value="&larr; Back" onClick="history.go(-1)">
        </div>
    </div>
</div>

{% endblock %}