{% extends 'base.html' %} {% load static %} {% block title %} Reboot Explained {% endblock %} {% block content %}

<div class="pt-3 container">
    <div class="row">
        <div class="col-12">
            <h4 class="title">ReBoot Explained...</h4>
            <hr>
        </div>
        <!-- Users guide to explain ReBoot and what to expect -->
        <div class="col-12">
            <p>
                Re-Boot is a non-profit making product exchange portal that provides a secure hub for the recyling of good quality rugby boots. The website targets the rugby playing community through keeping the cost of participation to an inexpensive level . Furthermore,
                a reduced carbon footprint can be achieved through avoiding the purchase of brand new rugby boots and move to reuse to reduce unecessary waste.
            </p>
            <p>
                Once you've registered as a ReBoot member you will have full access to our <strong>BootShop</strong> that caters for both junior and adult sized rugby boots. Pricing is kept very simple as we only charge £5.00 for junior boots and £10.00
                for adult boots. Whilst we cannot guarantee all sizes for all of our members, our current stock is built from our members generous free donation of unwanted boots. Acts of kindness creates and sustains the Reboot <strong>BootShop</strong>.
                All Proceeds from sales go towards the maintenance of the ReBoot website and cost of packaging of sending purchased boots.
            </p>
            <P>
                <strong>Normal practice</strong> is for our members to donate a pair of unawanted boots, before purchasing a replacment pair. This motion really help keep the Bootshop in good working order.</P>
            <p>
                Our members can also leave feedback and update personal information via their MyReBoot webpage. Furthermore, the ReBoot blog is in place to encourage our community to connect on all things rugby related. We are always looking for new members to help grow
                ReBoot for the benefit of our rugby playing community. If your browsing experience has been good, then why not go ahead and regster today.

            </p>
            <h5 class="text-center"><small><em>Reboot will be with you every step of the way. </em></small></h5>
        </div>
        <!-- Recap of quick step guide to using ReBoot -->
        
            <div class="pt-3 container text-center">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card-header">
                            Step 1
                        </div>
                        <div class="pt-3"></div>
                        <img src="{% static 'img/stepone.png' %}" alt="Browse stock">
                        <div class="card-body">
                            <h5 class="card-title">Browse Current Stock</h5>
                            <p class="card-text">Find boots that are right for you.</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card-header">
                            Step 2
                        </div>
                        <div class="pt-3"></div>
                        <img src="{% static 'img/steptwo.jpg' %}" alt="Register & Login">
                        <div class="card-body">
                            <h5 class="card-title">Register & Login</h5>
                            <p class="card-text">This is a mandatory requirement for boot donation and purchase.</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card-header">
                            Step 3
                        </div>
                        <div class="pt-3"></div>
                        <img src="{% static 'img/stepthree.png' %}" alt="Donate">
                        <div class="card-body">
                            <h5 class="card-title">Donate rugby boots</h5>
                            <p class="card-text">A clear and simple process for donating unwanted boots.</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card-header">
                            Step 4
                        </div>
                        <div class="pt-3"></div>
                        <img src="{% static 'img/stepfour.png' %}" alt="Purchase">
                        <div class="card-body">
                            <h5 class="card-title">Purchase rugby boots</h5>
                            <p class="card-text">Select, payment and delivery of rugby boots.</p>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>

{% endblock %}
