{% extends 'base.html' %} {% load static %} {% block title %} Re-boot Explained {% endblock %} {% block content %}

<div class="pt-3" id="explained-image" alt="Re-Boot explained">
    <div class="row pt-3 col-12 form-view">
            <div class="explained-header-text">
                <div class="px-2 py-2">Re-Boot Explained...</div>
                <hr>
            </div>
            <!-- Users guide to explain Re-Boot and what to expect -->
            <div class="col-md-6 px-2 py-2">
                <p class="text-white text-left">
                    Re-Boot is a non-profit making product exchange portal that provides a secure hub for the recyling of good quality rugby boots. The website targets the rugby playing community through keeping the cost of participation to an inexpensive level. Furthermore,
                    a reduced carbon footprint can be achieved through avoiding the purchase of brand new rugby boots and move to reuse to reduce unecessary waste.
                </p>
                <p class="text-white text-left">
                    Once you've registered as a Re-Boot member you will have full access to our <strong>BootShop</strong> that caters for both junior and adult sized rugby boots. Pricing is kept very simple as we only charge £5.00 for junior boots and £10.00
                    for adult boots. Whilst Re-Boot cannot guarantee all sizes for all of our members, our current stock is built from our members generous free donation of unwanted boots. Acts of kindness creates and sustains the Re-boot <strong>BootShop</strong>.
                    All Proceeds from sales go towards the maintenance of the Re-Boot website and cost of packaging of sending purchased boots.
                </p>
                <P class="text-white text-left">
                    <strong>Normal practice</strong> is for our members to donate a pair of unwanted boots, before purchasing a replacement pair. This motion really helps keep the Bootshop in good working order.</P>
                <p class="mb-5 text-white text-left">
                    Our members can donate unwanted boots, change password and blog messages via their MyReBoot webpage. Furthermore, the Re-Boot blog is in place to encourage our community to connect on all things rugby related. We are always looking for new members to
                    help grow Re-Boot for the benefit of our rugby playing community. If your browsing experience has been good, then why not go ahead and register today.
    
                </p>
            </div>
    </div>
</div>
        <h5 class="text-center"><em>Reboot will be with you every step of the way. </em></h5>
        <!-- Recap of quick step guide to using Re-Boot -->
        <div class="pt-3 container text-center">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card-header">
                        Step 1
                    </div>
                    <div class="pt-3"></div>
                    <img src="{% static 'img/stepone.png' %}" alt="Browse stock">
                    <div class="card-body">
                        <h5 class="card-title">Browse Stock</h5>
                        <p class="card-text">Find <a class="text-dark" href="{% url 'product-filter' category='Juniors' %}">
                            <strong>junior</strong></a> or <a class="text-dark" href="{% url 'product-filter' category='Adults' %}">
                                <strong>adult</strong></a> boots that are right for you.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card-header">
                        Step 2
                    </div>
                    <div class="pt-3"></div>
                    <img src="{% static 'img/steptwo.jpg' %}" alt="Register & Login">
                    <div class="card-body">
                        <h5 class="card-title">Register & Login</h5>
                        <p class="card-text">This is a <a class="text-dark" href="{% url 'register' %}">
                            <strong>mandatory</strong></a> requirement for boot donation and purchase.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card-header">
                        Step 3
                    </div>
                    <div class="pt-3"></div>
                    <img src="{% static 'img/stepthree.png' %}" alt="Donate">
                    <div class="card-body">
                        <h5 class="card-title">Donate</h5>
                        <p class="card-text">A clear and simple process for donating unwanted boots.</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card-header">
                        Step 4
                    </div>
                    <div class="pt-3"></div>
                    <img src="{% static 'img/stepfour.png' %}" alt="Purchase">
                    <div class="card-body">
                        <h5 class="card-title">Purchase</h5>
                        <p class="card-text">Select, payment and delivery of rugby boots.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Button to help user navigate back to home page --> 
        <div class="container">
            <div class="row pl-2 pb-3 main-menu-btn">
                <input type=button class="btn btn-back" value="&larr; Back" onClick="history.go(-1)">
            </div>
        </div>

{% endblock %}
