{% extends 'base.html' %} {% load staticfiles %} {% block title %}Re-Boot | Online exchange of new and used rugby boots{% endblock %}

{% block content %}

<!-- Rugby image banner -->
<div class="banner"></div>

<!-- Re-Boot Introduction -->
<div class="row">
    <header id="frontpage-header" class="col-12 text-center cheer-text">
        <div class="pt-2">
        <h1>Why <i>Re-Boot</i> ?</h1>
        </div>
        <h3 class="cheer-title mb-3">Reasons to be cheerful...</h3>
        <div class="container">
            <div class="row">
        <div class="col-lg-3 ml-auto text-left">
        <p><i class="fas fa-shoe-prints"></i> Re-Boot is an online exchange that encourages customers to register, donate unwanted rugby boots and purchase replacement boots at a fraction of normal retail prices. </p>
        </div>
        <div class="col-lg-3 mc-auto text-left">
        <p><i class="fas fa-shoe-prints"></i> A 'one stop shop' experience can save both time and expense of travelling to the shops and being online, there are no restrictions on trading hours.  </p>
        </div>
        <div class="col-lg-3 mr-auto text-left">
        <p><i class="fas fa-shoe-prints"></i> Recyling of unwanted rugby boots also helps contribute to an improved carbon footprint through reducing the quantity of material that enters landfill waste. </p>
        </div>
            </div>
        </div>
        <div class="pb-3">
        <a href="#" class="btn btn-primary">Learn More</a>
        </div>
    </header>
</div>

<!-- 5 Process Steps to use 'Re-Boot' -->
<div id="process-steps-section" class="pt-2 container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="process-steps-container" class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-12">
                        <h3>Quick step guide | Re-Boot</h3>
                    </div>
                    <div class="col-12">
                        <!-- process steps carousel -->
                        <div id="process-steps-carousel" class="carousel slide pb-4" data-ride="carousel">
                            <ul class="carousel-indicators carousel-steps">
                                <li data-target="#process-steps-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#process-steps-carousel" data-slide-to="1"></li>
                                <li data-target="#process-steps-carousel" data-slide-to="2"></li>
                                <li data-target="#process-steps-carousel" data-slide-to="3"></li>
                                <li data-target="#process-steps-carousel" data-slide-to="4"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                          <div class="container">
                                            <h4>1. Browse current stock</h4>
                                            <p>Find boots that are right for you.</p>
                                            <img src="{% static 'images/stepone.png' %}" alt="Browse stock" />
                                          </div>
                                </div>
                                <div class="carousel-item">
                                          <div class="container">
                                            <h4>2. Register & Login</h4>
                                            <p>This is a mandatory requirement for boot donation and purchase.</p>
                                            <img src="{% static 'images/steptwo.jpg' %}" alt="Register & Login" />
                                          </div>
                                </div>
                                <div class="carousel-item">
                                          <div class="container">
                                            <h4>3. Donate unwanted rugby boots.</h4>
                                            <p>A clear and simple process for collecting your data.</p>
                                            <img src="{% static 'images/stepthree.png' %}" alt="Donate" />
                                          </div>
                                </div>
                                <div class="carousel-item">
                                          <div class="container">
                                            <h4>4. Purchase replacement rugby boots.</h4>
                                            <p>A simple and secure process for selection, payment and delivery of rugby boots.</p>
                                            <img src="{% static 'images/stepfour.png' %}" alt="Purchase" />
                                          </div>
                                </div>
                                <div class="carousel-item">
                                          <div class="container">
                                            <h4>5. Leave your feedback.</h4>
                                            <p>Please tell us about your Re-Boot experience.</p>
                                            <img src="{% static 'images/stepfive.png' %}" alt="Feedback" />
                                          </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- Insert link to 'About'/'Re-Boot Explained' -->
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- Latest Arrivals -->
<div id="latest-arrivals-section" class="pt-2 container-fluid">
    <div class="row">
        <div class="col-12">
            <div id="latest-arrivals-container" class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-12">
                        <h3>Latest Arrivals | Re-Boot</h3>
                    </div>
                    <div class="col-12">
                        <!-- latest rugby boot arrivals carousel -->
                        <div id="process-steps-carousel" class="carousel slide pb-4" data-ride="carousel">
                            <ul class="carousel-indicators carousel-steps">
                                <li data-target="#latest-arrivals-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#latest-arrivals-carousel" data-slide-to="1"></li>
                                <li data-target="#latest-arrivals-carousel" data-slide-to="2"></li>
                                <li data-target="#latest-arrivals-carousel" data-slide-to="3"></li>
                                <li data-target="#latest-arrivals-carousel" data-slide-to="4"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                          <div class="container">
                                            <h4>1. Browse current stock</h4>
                                            <p>Find boots that are right for you.</p>
                                            <img src="{% static 'images/stepone.png' %}" alt="Browse stock" />
                                          </div>
                                </div>
                                <div class="carousel-item">
                                          <div class="container">
                                            <h4>2. Register & Login</h4>
                                            <p>This is a mandatory requirement for boot donation and purchase.</p>
                                            <img src="{% static 'images/steptwo.jpg' %}" alt="Register & Login" />
                                          </div>
                                </div>
                                <div class="carousel-item">
                                          <div class="container">
                                            <h4>3. Donate unwanted rugby boots.</h4>
                                            <p>A clear and simple process for collecting your data.</p>
                                            <img src="{% static 'images/stepthree.png' %}" alt="Donate" />
                                          </div>
                                </div>
                                <div class="carousel-item">
                                          <div class="container">
                                            <h4>4. Purchase replacement rugby boots.</h4>
                                            <p>A simple and secure process for selection, payment and delivery of rugby boots.</p>
                                            <img src="{% static 'images/stepfour.png' %}" alt="Purchase" />
                                          </div>
                                </div>
                                <div class="carousel-item">
                                          <div class="container">
                                            <h4>5. Leave your feedback.</h4>
                                            <p>Please tell us about your Re-Boot experience.</p>
                                            <img src="{% static 'images/stepfive.png' %}" alt="Feedback" />
                                          </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- Insert link to 'About'/'Re-Boot Explained' -->
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

{% endblock %}
