{% extends 'base.html' %} {% block content %} {% block title %}Re-Boot | Online exchange of new and used rugby boots{% endblock %}

<!-- Re-Boot Introduction -->

<div class="row">
    <header id="frontpage-header" class="col-12 text-center">
        <h1>Why Re-Boot?</h1>
        <h2 class="mb-3">Reasons to be cheerful</h2>

        <p>Re-Boot is an online exchange that encourages customers to register, donate unwanted rugby boots and purchase replacement boots at a fraction of normal retail prices. </p>
        <p>A 'one stop shop' experience can save both time and expense of travelling to the shops and being online, there are no restrictions on trading hours.  </p>
        <p>Recyling of unwanted rugby boots also helps contribute to an improved carbon footprint through reducing the quantity of material that enters landfill waste. </p>
        <a href="#" class="btn btn-primary">Learn More</a>
        
        <hr>
        
    </header>
</div>

{% endblock %}
