{% extends 'base.html' %} {% load static %} {% block title %}Re-Boot | Online exchange of new and used rugby boots{% endblock %} {% block content %}

<!-- Rugby image banner -->
<div class="container p-0">
    <img class="img-fluid" src="{% static 'img/scrumtime2.jpg' %}" alt="Homepage" width="auto" height="100%">
</div>

<!-- Re-Boot Introduction -->
<div class="row">
    <header id="frontpage-header" class="col-12 text-center cheer-text">
        <div class="pt-4">
            <h1>Why <i>Re-Boot</i> ?</h1>
        </div>
        <h3 class="cheer-title mb-3">Reasons to be cheerful...</h3>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-left">
                    <p><i class="fas fa-shoe-prints"></i> Re-Boot is an online exchange that encourages customers to register, donate unwanted rugby boots and purchase replacement boots at a fraction of normal retail prices. </p>
                </div>
                <div class="col-lg-3 text-left">
                    <p><i class="fas fa-shoe-prints"></i> A 'one stop shop' experience can save both time and expense of travelling to the shops and being online, there are no restrictions on trading hours. </p>
                </div>
                <div class="col-lg-3 text-left">
                    <p><i class="fas fa-shoe-prints"></i> Good choice of replacement rugby boots on offer, covering both juniors and adults. A simple registration process is required to realise the full Re-Boot benefits. </p>
                </div>
                <div class="col-lg-3 text-left">
                    <p><i class="fas fa-shoe-prints"></i> Recyling of unwanted rugby boots also helps contribute to an improved carbon footprint through reducing the quantity of material that enters landfill waste. </p>
                </div>
            </div>
        </div>
        <div class="pt-4 pb-5">
            <a href="{% url 'explained' %}" class="btn btn-learn-more">Learn More</a>
        </div>
    </header>
</div>

<!-- 4 Process Steps to use 'Re-Boot' -->
<div class="pt-2 pb-1 col-12 quick-steps text-center">
    <h3>Quick step guide</h3>
</div>
<div class="pt-4 pb-4 container text-center">
    <div class="row">
        <div class="col-lg-3">
            <div class="card-header">
                Step 1
            </div>
            <div class="pt-3"></div>
            <img src="{% static 'img/stepone.png' %}" alt="Browse stock">
            <div class="card-body">
                <h5 class="card-title">Browse Stock</h5>
                <p class="card-text">Find <a class="text-dark" href="{% url 'product-filter' category='Juniors' %}">
                            <strong>junior</strong></a> or <a class="text-dark" href="{% url 'product-filter' category='Adults' %}">
                                <strong>adult</strong></a> boots that are right for you.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card-header">
                Step 2
            </div>
            <div class="pt-3"></div>
            <img src="{% static 'img/steptwo.jpg' %}" alt="Register & Login">
            <div class="card-body">
                <h5 class="card-title">Register & Login</h5>
                <p class="card-text">This is a <a class="text-dark" href="{% url 'register' %}">
                            <strong>mandatory</strong></a> requirement for boot donation and purchase.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card-header">
                Step 3
            </div>
            <div class="pt-3"></div>
            <img src="{% static 'img/stepthree.png' %}" alt="Donate">
            <div class="card-body">
                <h5 class="card-title">Donate</h5>
                <p class="card-text">A clear and simple process for donating unwanted boots.</p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card-header">
                Step 4
            </div>
            <div class="pt-3"></div>
            <img src="{% static 'img/stepfour.png' %}" alt="Purchase">
            <div class="card-body">
                <h5 class="card-title">Purchase</h5>
                <p class="card-text">Select, payment and delivery of rugby boots.</p>
            </div>
        </div>
    </div>
</div>

<!-- Latest Arrivals -->
<div class="pt-2 pb-1 col-12 latest-arrivals text-center">
    <h3>Latest Arrivals</h3>
</div>
<div class="pt-4 container">
    <div class="row justify-content-center text-center">
        <!-- latest rugby boot arrivals on show -->
        <a class="col-md-4 col-lg-4 card-style">
            <h4 class="pt-3 text-left"><strong>Adults</strong></h4>
            <div class="text-center">
                <img src="{% static 'img/adidasYellow.png' %}" class="img-fluid" alt="adidas yellow boot">
                <div class="boot-detail justify-content-center text-center">
                    <h4>New Boots</h4>
                    <i class="fas fa-shoe-prints"></i>
                    <p class="card-text"><strong>Make:</strong> Adidas</p>
                    <p class="card-text"><strong>Size:</strong> 8</p>
                    <p class="card-text"><strong>Colour:</strong> Yellow</p>
                    <p class="card-text"><strong>Stud:</strong> Screw in</p>
                    <p class="card-text"><strong>Price:</strong> £10.00</p>
                </div>
            </div>
        </a>
        <div class="col-md-4 col-lg-4 card-style">
            <h4 class="pt-3 text-left"><strong>Juniors</strong></h4>
            <div class="text-center">
                <img src="{% static 'img/asicsWhite.png' %}" class="img-fluid" alt="asics white boot">
                <div class="boot-detail justify-content-center text-center">
                    <h4>Almost New</h4>
                    <i class="fas fa-shoe-prints"></i><i class="fas fa-shoe-prints"></i>
                    <p class="card-text"><strong>Make:</strong> Asics</p>
                    <p class="card-text"><strong>Size:</strong> 10</p>
                    <p class="card-text"><strong>Colour:</strong> White</p>
                    <p class="card-text"><strong>Stud:</strong> Screw in</p>
                    <p class="card-text"><strong>Price:</strong> £5.00</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 card-style">
            <h4 class="pt-3 text-left"><strong>Adults</strong></h4>
            <div class="text-center">
                <img src="{% static 'img/canterburyBlack.png' %}" class="img-fluid" alt="canterbury black boot">
                <div class="boot-detail justify-content-center text-center">
                    <h4>Used Boots</h4>
                    <i class="fas fa-shoe-prints"></i><i class="fas fa-shoe-prints"></i><i class="fas fa-shoe-prints"></i>
                    <p class="card-text"><strong>Make:</strong> Canterbury</p>
                    <p class="card-text"><strong>Size:</strong> 12</p>
                    <p class="card-text"><strong>Colour:</strong> Black</p>
                    <p class="card-text"><strong>Stud:</strong> Screw in</p>
                    <p class="card-text"><strong>Price:</strong> £10.00</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <!-- Link to send user to BootShop to view either juniors or adults rugby boots -->
    <div class="px-3 py-3 row justify-content-center">
        <div class="px-3 py-3">
            <a class="btn btn-learn-more" href="{% url 'product-filter' category='Juniors' %}">See More Juniors Boots</a>
        </div>
        <div class="px-3 py-3">
            <a class="btn btn-learn-more" href="{% url 'product-filter' category='Adults' %}">See More Adults Boots</a>
        </div>
    </div>
</div>

{% endblock %}
