{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Page sets out ReBoots position on protecting the user -->
<header id="privacy-image" class="pt-3 col-12" alt="Privacy">
<div class="pt-3 pb-1 col-12 form-view">
    <div class="privacy-header-text" data-aos="fade-right">Privacy policy <i class="fas fa-lock" data-aos="zoom-in"></i></div>
</div>
<div class="row">
    <!-- Code Privacy imagery -->
    <div class="px-3 py-3 col-sm-3">
        <div class="pb-3 product-image text-center" data-aos="fade-right">
            <img src="{% static 'img/privacy6.png' %}" class="lock-image" alt="safeguard data">
        </div>
        <hr>
        <p class="px-3 py-3 m-0 privacy-text" data-aos="fade-right"><small><em><strong>Note:</strong> Re-Boot website may contain links to other web sites
        which are outside our control and are not covered by this Privacy Policy. If you access other sites using the links
        provided, the operators of these sites may collect information from you which will be used by them in accordance
        with their privacy policy, which may differ from ours.  </em></small></p>
    </div>
    <!-- Privacy information -->
    <div class="px-3 py-3 col-sm-9">
        <div class="px-3 py-3" data-aos="slide-left">
            <h5>Message from ReBoot</h5>
            <p class="privacy-text"">Re-Boot is committed to protecting your privacy. This Privacy Policy explains our data processing practices and your
            options regarding the ways in which your personal data is used. If you have any requests concerning your personal
            information or any queries with regard to our processing please <strong><a class="text-warning" href="{% url 'contact' %}">contact</a></strong> us. </p>
            
            <h5>Information collected</h5>
            <p class="privacy-text">Re-Boot collects the details provided by you on registration together with information Re-Boot learn about you
            from your use of our service and your visits to our web site and potentially other sites accessible from them. Re-Boot
            also collect information about the transactions you undertake including details of payment methods used. </p>
            
            <p class="privacy-text">Re-Boot may collect additional information in connection with your participation in any promotions or competitions
            offered by us and information you provide when giving us feedback or completing profile forms. Re-Boot also monitor
            customer traffic patterns and site use which enables Re-Boot to improve the service Re-Boot provides.</p>
            
            <h5>Use of your information and your preferences</h5>
            <p class="privacy-text">Re-Boot will use your information to provide and personalise our service and to detect and prevent fraud. Re-Boot
            will also use your contact details to communicate with you. Re-Boot may use your information to send you offers and
            news about Re-Boot and services or those of other carefully selected companies which Re-Boot think may be of interest
            to you. Re-Boot may contact you by post, email or telephone for these purposes. </p>
            
            <p class="privacy-text">Please note that there may be instances where it may be necessary for Re-Boot to communicate with you, in any
            event, for administrative or operational reasons relating to Re-Boots' service.</p>
            
            <h5>Disclosures of your information</h5>
            <p class="privacy-text">Your information may be passed to and used by Re-Boot. Re-Boot will never pass your personal information to
            anyone else, except where Re-Boot are required or permitted to do so by law, for any successors in title to our
            business and suppliers that process information on our behalf both in the UK and abroad. We may also use and disclose
            information in aggregate (so that no individual customers are identified) for marketing and strategic development
            purposes.</p>
        </div>
    </div>
</div>
<!-- Button to help user navigate back to home page --> 
        <div class="container">
            <div class="row pl-2 pb-3 main-menu-btn">
                <input type=button class="btn btn-back" value="&larr; Back" onClick="history.go(-1)">
            </div>
        </div>
</div>
</header>
{% endblock %}
