{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}Create a product{% endblock %}

{% block content %}
<div class="pt-2 container">
    {% block heading %} <h4>Donate your rugby boots here</h4> {% endblock %}
<div class="row">
    <div class="col-sm-12">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | as_bootstrap }}
            <div class="pb-3">
            <button type="submit" class="btn btn-add-review">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}