{% extends 'base.html' %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!-- Product detail background image banner -->
    <div class="product-background"></div>

<!-- Product detail view includes all product model field names -->
<div class="pt-3 row single-product">
    <!-- Product customer is either junior or an adult -->
    <div class="pt-3 col-xs-12 col-md-2">
        <div class="text-center">
            <h2><strong>{{ product.customer }}</strong></h2>
        </div>
    </div>
    <!-- User is invited to upload an image of their donated rugby boots -->
    <div class="pt-3 col-xs-12 col-md-4">
        <div class="panel-body">
            <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}'); height:200px; width:200px"></div>
        </div>
    </div>
    <!-- User invited to key in product make, size, colour, stud type & honest comment on product quality -->
    <div class='pt-2 pb-2 ml-3 col-xs-12 col-md-3'>
        <p class="pt-2"><strong>Make: </strong>{{ product.make }}</p>
        <p><strong>Size: </strong>{{ product.size }}</p>
        <p><strong>Colour: </strong>{{ product.colour }}</p>
        <p><strong>Studs: </strong>{{ product.studs }}</p>
        <p><strong>Quality: </strong>{{ product.quality }}</p>

        <p><strong>Price: </strong><span class="fas fa-pound-sign" aria-hidden="true"></span> {{ product.price }}</p>
        <br>
        <!-- If user logged in then they are free to shop for replacement rugby boots -->
        {% if user.is_authenticated %}
        <div class="pb-2">
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="pb-2 input-group">
                    <div class="py-2 pr-2 input-group-addon text-center"><strong>Qty</strong></div>
                    <input name="quantity" type="number" min="0" max="1" class="form-control" placeholder="Quantity" value="1">
                </div>
                <div class="pt-2 pb-2">
                <button class="btn btn-cart-add" type="submit">Add To Cart</button>
                </div>
            </form>
        </div>
        {% else %} {% endif %}
    </div>
    <div class="pb-5 col-xs-12 col-md-2 adults-image text-center">
        <img src="{% static 'img/hello.png' %}" alt="ball carrier image">
    </div>
</div>
<div class="pt-2 pb-2 container">
    <div class="row">
        <p><strong>Please note</strong> that all donated rugby boot products are unique, therefore these products can only be bought as a single quantity. </p>
        <p>Thank you for your understanding and ongoing commitment to use Re-Boot to purchase your replacement rugby boots. </p>
    </div>
    
</div>

{% endblock %}
