{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="row single-product">
    <div class="col-xs-12 col-md-2">
        <div>
            <h2><strong>{{ product.customer }}</strong></h2>    
        </div>
    </div>
    <div class="pt-2 col-xs-12 col-md-4">
        <div class="panel-body">
                <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}'); height:200px; width:200px"></div>
        </div>
    </div>
    <div class='col-xs-12 col-md-6'>
        <p class="pt-2"><strong>Make: </strong>{{ product.make }}</p>
        <p><strong>Size: </strong>{{ product.size }}</p>
        <p><strong>Colour: </strong>{{ product.colour }}</p>
        <p><strong>Studs: </strong>{{ product.studs }}</p>
        <p><strong>Quality: </strong>{{ product.quality }}</p>

        <p><strong>Price: </strong><span class="fas fa-pound-sign"
            aria-hidden="true"></span> {{ product.price }}</p>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="pb-2 input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" value="1">
                    <button class="btn btn-cart-add" type="submit">Add To Cart</button>
                </span>
            </div>
        </form>
        {% else %}
        {% endif %}
    </div>

</div>
{% endblock %}