{% extends 'base.html' %}

{% block content %}
<div class="pt-2 pb-1 col-12 product-category text-center">
    <h3>{{ product.category }}</h3>
</div>
<div class="row row-cols-1 row-cols-md-4">
    {% for product in products %}
    <div class="col mb-1">
        <div class="panel-body">
            <a href="{% url 'product-detail' product.id %}">
                <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}'); height:200px; width:200px"></div>
                <p><strong>Make: </strong>{{ product.make }}</p>
                <p><strong>Size: </strong>{{ product.size }}</p>
                <strong>
                    <p><span class="fas fa-pound-sign"
                        aria-hidden="true"></span>{{ product.price }}</p>
                </strong>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

