{% extends 'base.html' %} {% load bootstrap_tags %} {% block title %}{{ product.title }}{% endblock %} {% block content %}
<div class="container">
    <!-- Member Feedback Summary -->
    <div class="jumbotron">
        <h4>{{ product.title }}</h4>
        <div class="inline">
            <p class="p5"><span>views: {{ product.views }}</span></p>
        </div>
        <p class="lead">{{ product.description }}</p>
        <hr class="my-4 left-hr">
        <p>Created by: {{product.creator }} on {{ product.created_date }}</p>
    </div>
    <!-- Members Product Detailed Feedback -->
    <div class="row">
        <div class="col-sm-12">
            <form method="POST">
                <fieldset>
                    <h1>Comments:</h1>
                    {% csrf_token %} {{ product_comment_form|as_bootstrap }} {% if user.is_authenticated %}
                    <button type="submit" class="btn btn-add-review">Submit</button> {% else %}
                    <p><strong>Please login to provide feedback on your Re-Boot experience.</strong></p>
                    <button type="button" class="btn btn-add-review disabled">Submit</button> {% endif %}
                </fieldset>
            </form>

            {% if comments.count == 0 %}
            <br>
            <h5>No member feedback has yet been provided.</h5>
            {% else %} {% for comment in comments %}
            <hr class="my-4 left-hr long-hr">
            <blockquote class="blockquote text-left">
                <p class="mb-0">{{ comment.comment|capfirst }}</p>
                <footer class="blockquote-footer">{{ comment.product|capfirst }}<cite title="Source Title" class="title"> | {{ comment.creator|capfirst }}</cite>
                    <datetime> on {{ comment.created_date }}</datetime>
                </footer>
            </blockquote>
            {% endfor %} {% endif %}

        </div>
    </div>

</div>
{% endblock %}
