@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Special Padding / Margin / Text */

body {
  font-family: 'Open Sans', sans-serif;
  color: #001514; /* Rich Black */
}

.row {
    margin-left: 0;
    /*helps remove unecessary white space on right vertical*/
    margin-right: 0;
    /*as above*/
}

/* Colours */

/* Navbar */

.banner {
  background-image: url('my-custom-navbar-bg.png');
  background-repeat: repeat-x;
  position: relative;
    height: 30vh;
    background: url(../images/scrumtime.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /*required to manage the horixontal centering of the 
    group image design*/
}

/* Containers */

/* 404 error formatting */

/* Block Dividers */

/* Buttons */

/* Social Media */

/* Footer */

/* Media Queries */