@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Special Padding / Margin / Text */

body {
  font-family: 'Open Sans', sans-serif;
  color: #001514;
  /* Rich Black */
}

.row {
  /*helps remove unecessary white space on right vertical*/
  margin-left: 0;
  margin-right: 0;
}

h1,
.cheer-title {
  font-weight: 700;
  color: #FAFAFA;
  /* off-white */
}

h2 {
  font-weight: 700;
}

h4 {
  color: #F26826;
  /* vivid tangelo - orange */
  font-weight: 600;
  text-align: center;
}

h5 {
  color: #F26826;
  /* vivid tangelo - orange */
  font-weight: 600;
}

h6 {
  color: #FAFAFA;
  /* off-white */
  font-weight: 500;
}

.cheer-text {
  color: #FAFAFA;
  /* off-white */
}

.cheer-text p {
  font-size: 1.1rem;
}

.card-text {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.25rem;
}

.blog-header-text {
  font-size: 1rem;
  font-weight: 600;
  color: #F26826;
  /* vivid tangelo - orange */
}

.user-intro {
  /*Introduction welcome message to user in their MyReBoot page*/
  font-size: 4rem;
  color: #001514;
  /*Rich Black*/
}

ul {
  /* removes bullet points from unordered list */
  list-style-type: none;
}

/* Colours Used in ReBoot design */

/*  #001514 - 'rich Black' - Black  */

/*  #F26826 - 'vivid tangelo' - Orange */

/*  #135A68 - 'blue sapphire' - Green */

/*  #21295C - 'space cadet' - Blue */

/*  #FFFFFF - White */

/*  #F2F2F2 - Grey  */

/*  #FAFAFA - Off-White */

/* Navbar */

.navbar {
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.banner {
  /*Intense rugby image depicting energy & coordination that flows into this application*/
  background-repeat: repeat-x;
  position: relative;
  height: 30vh;
  background: url(../../static/img/scrumtime.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /*required to manage the horixontal centering of the 
    group image design*/
}

.cart {
  font-size: 2rem;
  color: #F26826;
  /* vivid tangelo - orange */
}

.badge {
  margin: -1rem;
  /* moves the product counter to slightly overlap shopping cart */
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 2rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #135A68;
  /*Green*/
  color: #FFFFFF;
  /*White*/
}

/* Containers */

#frontpage-header {
  background-color: #F26826;
  /* vivid tangelo - orange */
}

.quick-steps,
.latest-arrivals,
.customer-reviews,
.customer-blog,
.product-category {
  /*Front page block headers signposting important ReBoot features*/
  background-color: #21295C;
  /*Blue*/
  color: #FAFAFA;
  /*Off-White*/
}

.card-header {
  background-color: #FFFFFF;
  /*White*/
  font-weight: 600;
}

.card-style {
  border: 1px solid #F2F2F2;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  margin: 0.5rem;
  max-width: 18.125rem;
}

.panel-body {
  /* All rugby boot product container views given blue border and slight box shadow to elevate the display */
  padding: 0.3rem;
  margin: 0.3rem;
  border: 0.1rem solid #21295C;
  /*Blue*/
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(199, 204, 235, 0.5), 0 6px 20px 0 rgba(199, 204, 235, 0.49);
}

.product-image {
  /* All rugby boot product views are fully responsive with good control over marging spacing and display */
  text-align: center;
  display: block;
  margin: auto;
}

.cart-contents-outer,
.checkout-total-outer,
.gravatar-image,
.juniors-image,
.adults-image {
  /* Ensures the payemnt summary views are centre of screen */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-contents,
.checkout-total {
  /* Containers given light grey background and vivid orange text */
  border: 0.1rem solid #F2F2F2;
  border-radius: 0.5rem;
  background-color: #F2F2F2;
  color: #F26826;
  font-size: 1.25rem;
  font-weight: 600;
  width: 11rem;
  height: 2.5rem;
  text-align: center;
}

/* Blog */

.story-img {
  /*Allows imported image to be centred and be full responsive on all devices*/
  display: block;
  text-align: center;
  margin: auto;
}

/* Block Dividers */

.block-divider-short {
  text-align: center;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #fafafa;
  /*Off-White*/
}

/* Buttons */

.btn-learn-more,
.btn-read-more,
.btn-add-review,
.btn-cart-add,
.btn-product-detail,
.btn-submit-payment,
.btn-checkout {
  background-color: #FFFFFF;
  /*White*/
  border: 0.1rem solid #135A68;
  /*Green*/
  color: #135A68;
  font-weight: 600;
  cursor: pointer;
  /* Add a mouse pointer on hover */
}

.btn-learn-more:hover,
.btn-read-more:hover,
.btn-add-review:hover,
.btn-cart-add:hover,
.btn-product-detail:hover,
.btn-submit-payment:hover,
.btn-checkout:hover {
  background-color: #135A68;
  border: 0.1rem solid #135A68;
  color: #FAFAFA;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-edit-quantity,
.btn-delete-item {
  background-color: #FAFAFA;
  /*Off-White*/
  border: 0.1rem solid #135A68;
  /*Green*/
  color: #135A68;
  /*Green*/
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  /* Add a mouse pointer on hover */
}

.btn-edit-quantity:hover,
.btn-delete-item:hover {
  background-color: #135A68;
  /*Green*/
  border: 0.1rem solid #135A68;
  /*Green*/
  color: #FAFAFA;
  /*Off-White*/
  font-weight: 600;
  font-size: 0.875rem;
}

/* Social Media */

.fa-facebook-square,
.fa-linkedin {
  font-size: 2.5rem;
  color: #FAFAFA;
  /*Off-White*/
}

/* Footer */

#footer {
  background-color: #21295C;
  /*Blue*/
  border-color: #21295C;
  /*Blue*/
}

.footer-text li a {
  font-size: 1rem;
  font-weight: 400;
  color: #FAFAFA;
  /*Off-White*/
}

/* Media Queries */

@media (max-width: 768px) {
  /*Mobile - Move product counter to top right corner of shopping cart icon*/
  .badge {
    margin: -6.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  /*Mobile - Move shopping cart icon slightly to left */
  .nav-link-icon {
    padding: 0;
  }
}
