@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Special Padding / Margin / Text */

body {
  font-family: 'Open Sans', sans-serif;
  color: #001514;
  /* Rich Black */
}

.row {
  /*helps remove unecessary white space on right vertical*/
  margin-left: 0;
  margin-right: 0;
}

h1,
.cheer-title {
  font-weight: 700;
  color: #FFF;
  /* White */
}

h2 {
  font-weight: 700;
}

h4 {
  color: #F26826;
  /* vivid tangelo - orange */
  font-weight: 600;
  text-align: center;
}

h5 {
  color: #F26826;
  /* vivid tangelo - orange */
  font-weight: 600;
}

h6 {
  color: #FAFAFA;
  /* off-white */
  font-weight: 500;
}

.cheer-text {
  color: #FFF;
  /* White */
}

.cheer-text p {
  font-size: 1.1rem;
}

.card-text {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.25rem;
}

.blog-header-text {
  font-size: 1rem;
  font-weight: 600;
  color: #F26826;
  /* vivid tangelo - orange */
}

.user-intro {
  /*Introduction welcome message to user in their MyReBoot page*/
  font-size: 2rem;
  color: #001514;
  /*Rich Black*/
}

ul {
  /* removes bullet points from unordered list */
  list-style-type: none;
}

/* Colours Used in ReBoot design */

/*  #001514 - 'rich Black' - Black  */

/*  #F26826 - 'vivid tangelo' - Orange */

/*  #135A68 - 'blue sapphire' - Green */

/*  #21295C - 'space cadet' - Blue */

/*  #FFFFFF - White */

/*  #F2F2F2 - Grey  */

/*  #FAFAFA - Off-White */

/* Navbar */

.navbar {
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

#navbarSupportedContent ul li a {
  color: #001514;
  /* Rich Black */
}

#navbarSupportedContent ul li a:hover {
  /* Navbar text changes from black to orange upon user hovering their cursor */
  color: #F26826;
  /* vivid tangelo - orange */
  cursor: pointer;
}

/* Images */

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

#frontpage-header {
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ),
  url(/static/img/scrumtime4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#login-image {
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ),
  url(/static/img/login-background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#register-image {
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ),
  url(/static/img/register-background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#explained-image {
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ),
  url(/static/img/explained-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#juniors-boots {
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ),
  url(/static/img/junior-background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#adults-boots {
  background-image: linear-gradient(
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)
  ),
  url(/static/img/adults-background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#quality-image {
  background-image: linear-gradient(
  rgba(33, 41, 92, 0.5),
  rgba(33, 41, 92, 0.5)
  ),
  url(/static/img/bootquality-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* Shopping Cart */

.cart {
  /* cart is positioned to far right of navbar */
  font-size: 2rem;
  color: #F26826;
  /* vivid tangelo - orange */
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  /* moves the product counter closer to the shopping cart */
  margin-left: -1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #135A68;
  /*Green*/
  color: #FFFFFF;
  /*White*/
}

/* Containers */

.quick-steps,
.latest-arrivals,
.customer-reviews,
.customer-blog,
.product-category {
  /*Front page block headers signposting important ReBoot features*/
  background-color: #21295C;
  /*Blue*/
  color: #FAFAFA;
  /*Off-White*/
}

.card-header {
  background-color: #FFFFFF;
  /*White*/
  font-weight: 600;
}

.card-style {
  /* Latest arrival cards on home page with orange shadow border */
  border: 0.1rem solid #F26826;
  background-image: linear-gradient(to bottom, rgba(242,104,38,1), rgba(242,104,38,0));
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  margin: 0.5rem;
  max-width: 18.125rem;
  box-shadow: 0 4px 8px 0 rgba(199, 204, 235, 0.5), 0 6px 20px 0 rgba(199, 204, 235, 0.49);
}

.panel-body {
  /* All rugby boot product container views given blue border and slight box shadow to elevate the display */
  padding: 0.3rem;
  margin: 0.3rem;
  border: 0.1rem solid #21295C;
  /*Blue*/
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(199, 204, 235, 0.5), 0 6px 20px 0 rgba(199, 204, 235, 0.49);
}

.product-image {
  /* All rugby boot product views are fully responsive with good control over marging spacing and display */
  text-align: center;
  display: block;
  margin: auto;
}

.cart-contents-outer,
.checkout-total-outer,
.gravatar-image,
.junior-image,
.adults-image {
  /* Ensures the payemnt summary views are centre of screen */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-contents,
.checkout-total {
  /* Containers given light grey background and vivid orange text */
  border: 0.1rem solid #F2F2F2;
  border-radius: 0.5rem;
  background-color: #F2F2F2;
  color: #F26826;
  font-size: 1.25rem;
  font-weight: 600;
  width: 11rem;
  height: 2.5rem;
  text-align: center;
}

.form-view {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-login,
.bg-register {
  background-color: transparent;
  margin: 0 2rem 0 2rem;
}

.login-header-text,
.register-header-text,
.juniors-header-text,
.adults-header-text,
.quality-header-text {
  font-size: 2.5rem;
  font-weight: 500;
  color: #F26826;
}

.explained-header-text {
  font-size: 2.5rem;
  font-weight: 500;
  color: #FFF;
}

/* Blog */

.story-img {
  /*Allows imported image to be centred and be full responsive on all devices*/
  display: block;
  text-align: center;
  margin: auto;
}

/* Block Dividers */

.block-divider-short {
  text-align: center;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #fafafa;
  /*Off-White*/
}

/* Table formatting - Rugby Boot Size Charts */

th, td {
  color: #FFF;
} 

/* Buttons */

.btn-learn-more,
.btn-read-more,
.btn-add-review,
.btn-cart-add,
.btn-product-detail,
.btn-submit-payment,
.btn-checkout {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #FFFFFF;
  /*White*/
  border: 0.1rem solid #135A68;
  /*Green*/
  color: #135A68;
  font-weight: 600;
  cursor: pointer;
  /* Add a mouse pointer on hover */
}

.btn-learn-more:hover,
.btn-read-more:hover,
.btn-add-review:hover,
.btn-cart-add:hover,
.btn-product-detail:hover,
.btn-submit-payment:hover,
.btn-checkout:hover {
  background-color: #135A68;
  border: 0.1rem solid #135A68;
  color: #FAFAFA;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-edit-quantity,
.btn-delete-item {
  background-color: #FAFAFA;
  /*Off-White*/
  border: 0.1rem solid #135A68;
  /*Green*/
  color: #135A68;
  /*Green*/
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  /* Add a mouse pointer on hover */
}

.btn-edit-quantity:hover,
.btn-delete-item:hover {
  background-color: #135A68;
  /*Green*/
  border: 0.1rem solid #135A68;
  /*Green*/
  color: #FAFAFA;
  /*Off-White*/
  font-weight: 600;
  font-size: 0.875rem;
}

.btn-up {
    /*top of page button found at the bottom of all the webpages*/
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #001514;
    /*Rich Black*/
    border: 2px solid #001514;
    color: #F26826;
    /*Vivid Tangelo - Orange*/
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    width: 3rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-up:hover {
    /* top of page button change colour when hovered & clicked */
    color: #F26826;
    transform: scale(1.25);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
}

.fa-angle-double-up:hover {
    transform: scale(1.25);
    color: #F26826;
}

.move-top {
    z-index: 99;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
    display: none;
}

.main-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-back {
    /*Back button found at the bottom of the web page*/
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    /*White*/
    border-color: #F26826;
    /*Vivid Tangelo - Orange*/
    color: #F26826;
    /*Vivid Tangelo - Orange*/
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    width: 6rem;
    text-align: center;
}

.btn-back:hover {
    /* Back button change colour when hovered & clicked */
    background-color: #F26826;
    /*Vivid Tangelo - Orange*/
    border-color: #F26826;
    color: #FFF;
    /*White*/
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    /*Opera*/
    -moz-transition: all 0.5s ease-in-out;
    /*Windows*/
    -webkit-transition: all 0.5s ease-in-out;
    /*Apple*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-back,
input[value="&larr;"] {
    /* Format back button */ 
    font-weight: 600;
}

/* Social Media */

.fa-facebook-square,
.fa-linkedin {
  font-size: 2.5rem;
  color: #FAFAFA;
  /*Off-White*/
}

/* Footer */

#footer {
  background-color: #21295C;
  /*Blue*/
  border-color: #21295C;
  /*Blue*/
}

.footer-text li a {
  font-size: 1rem;
  font-weight: 400;
  color: #FAFAFA;
  /*Off-White*/
}

/* Media Queries */

@media (max-width: 768px) {
    /*mobile - moves shopping cart to left and aligned to remaining nav items*/
    #cart-popover {
        padding-left: 0;
    }
    .cart {
      margin-left: -0.25rem;
    }
    .badge-spacer {
      padding-left: 1.5rem;
    }
}

@media (min-width: 1800px) {
  /*large desktop device - removes white space beneath footer*/
    #login-image,
    #juniors-image {
      min-height: 80vh;
    }
    .form-view {
      padding-top: 6rem;
    }
    .login-header-text,
    .register-header-text {
      font-size: 3rem;
    }
}