{% extends "base.html" %} {% load static %} {% load bootstrap_tags %} # Javascript blockhead created in order to interface with Stripe # A publishable key authenticates the users access to stripe from the browser {% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %} {% block content %}

<header id="checkout-image" class="pt-3 col-12" alt="Checkout">
<div class="pt-3 pb-1 col-12 text-center">
    <div class="checkout-header-text">Checkout</div>
</div>

<!-- Message to user to browse Re-Boot stock if they have an empty shopping cart -->
{% if total == 0 %}

<div class="pt-3 col-md-6 container checkout-total-outer">
    <div class="pt-3 row checkout-text">
        <div class="pt-1 pb-3 col-12 text-center">
            <div class="checkzero-header-text">Empty Shopping Cart?</div>
        </div>
        <div class="container">
            <div class="row">
                <p>Please note you're unable to proceed with an empty shopping cart.</p>
                <p>Our <strong>Bootshop</strong> has many products you may be interested in.</p>
                <p>If you're unable to locate a product that meets your immediate requirements, then we would suggest you <strong>Contact Us</strong> or formally register.</p>
                <p>Take advantage of the Re-Boot <strong>Blog</strong>. Here you can connect with Re-Boot members to check if your required product can be secured.</p>
            </div>
        </div>
    </div>
</div>
<hr class="short-orange"></hr>
<div class="pt-1 pb-1 col-12 text-center">
        <div class="checkzero-header-text">Lets Play!</div>
    </div>
<div class="pb-5 col-md-6 container">
    <div class="pt-5 row product-image">
        <a href="{% url 'index' %}">
            <img class="flex-auto lets-play" src="{% static 'img/power.png' %}" alt="Boot power">
        </a>
    </div>
</div>

{% else %}
<!-- If users shopping cart contains a product, then review and proceed to submit payment -->
<div class="pt-3 row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% for item in cart_items %}
    <div class="px-2 py-2">
        <div class="panel-body">
            <h5 class="px-2 py-2">{{ item.product.customer }}</h5>
            <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}'); height:200px; width:200px"></div>
            <p class="pl-2"><strong>Make: </strong>{{ item.product.make }}</p>
            <p class="pl-2"><strong>Size: </strong>{{ item.product.size }}</p>
            <strong>
                    <span class="pl-2 fas fa-pound-sign"
                        aria-hidden="true"></span>{{ item.product.price }}
                </strong>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Show the Total Cost of what User is purchasing = outside above loop -->

<div class="pt-4 pb-4 container checkout-total-outer">
    <div class="pt-1 checkout-total">
        <span>Total: </span><i class="fas fa-pound-sign pl-2" aria-hidden="true"><span class="pl-1"></span>{{ total }}</i>
    </div>
</div>

<!-- Both order and payment forms are added to the html page -->
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
    <div class="pt-2 pb-1 col-12 product-category text-center">
        <h3>Payment Details</h3>
    </div>
    <div id="credit-card-errors" style="display:none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <div class="pt-3 container">
        <div class="row">
            <div class="form-group col-md-4 shadow p-4 mb-4 bg-white rounded border border-dark">
                {{ order_form|as_bootstrap }}
            </div>
            <div class="mt-5 mb-5 px-3 py-3 col-md-4 adults-image text-center">
                <img src="{% static 'img/hello.png' %}" alt="ball carrier image">
            </div>
            <div class="form-group col-md-4 shadow p-4 mb-4 bg-white rounded border border-dark">
                {{ payment_form|as_bootstrap }}
            </div>
        </div>
    </div>

    {% csrf_token %}
    <div class="pb-3 pl-0 pr-0 form-group col-md-12 text-center">
        <input type=button class="btn btn-back" value="&larr; Back" onClick="history.go(-1)">
        <input class="btn btn-submit-payment" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
    </div>
</form>
{% endif %}
</header>
{% endblock %}
