{% load staticfiles %}


</div>
<nav class="navbar-expand-lg navbar-light bg-light small-box-shadow">
    
    <div class="navbar-inner">
    <a class="navbar fixed-top navbar-brand px-1 mr-md-1" href="{% url 'home' %}">
        <img id="mainbrand" src="{% static 'images/mainbrand.png' %}" alt="Re-boot brand">
    </a>
        
    </div>
    <!-- More navbar functions / dropdown to add below -->
    
    <!-- positions favs and cart icons to left of toggler on mobiles (2nd one for desktop below) -->
    <div id="navbar-icons-mobile" class="d-lg-none">
        <a class="nav-link nav-link-icon" href="{% url 'cart' %}" title="Shopping cart">
            <div>
                <i class="fas fa-shopping-basket navbar-icon"></i>
                {% if request.session.cart.count and request.session.cart.count != 0 %}
                <div id="cart-counter">{% if request.session.cart.count > 9 %}9+
                    {% else %}{{ request.session.cart.count }}{% endif %}</div>
                {% endif %}
            </div>
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item {% if page == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home {% if page == "home" %}<span
                        class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'all-products' %}">View All</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="{% url 'famous' %}">Famous</a>
                    <a class="dropdown-item" href="{% url 'star-wars' %}">Star Wars</a>
                    <a class="dropdown-item" href="{% url 'doctor-who' %}">Doctor Who</a>
                    <a class="dropdown-item" href="{% url 'harry-potter' %}">Harry Potter</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="{% url 'special-occasions' %}">Special Occasions</a>
                    <a class="dropdown-item" href="{% url 'christmas' %}">Christmas</a>
                    <a class="dropdown-item" href="{% url 'halloween' %}">Halloween & Dangerous</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="{% url 'jobs-hobbies' %}">Jobs & Hobbies</a>
                    <a class="dropdown-item" href="{% url 'weird-misc' %}">Weird & Misc</a>
                </div>
            </li>
            <li class="nav-item {% if page == 'about' %}active{% endif %}">
                <a class="nav-link" href="{% url 'about' %}">About {% if page == "about" %}<span
                        class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item {% if page == 'faqs' %}active{% endif %}">
                <a class="nav-link" href="{% url 'faqs' %}">FAQs {% if page == "faqs" %}<span
                    class="sr-only">(current)</span>{% endif %}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if page == 'contact' %}active{% endif %}">
                <a class="nav-link" href="{% url 'contact' %}">Contact {% if page == "contact" %}<span
                        class="sr-only">(current)</span>{% endif %}</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif  %}
            <li class="nav-item {% if page == 'search' %}active{% endif %}">
                <a class="nav-link" href="{% url 'search' %}">
                    <i class="fas fa-search navbar-search-icon" title="Search"></i>
                    {% if page == "search" %}<span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
        </ul>

    </div>

    <!-- positions favs and cart icons to far right of navbar when navigation not collapsed -->
    <div id="navbar-icons-desktop" class="d-none d-lg-inline-block">
        <a class="nav-link nav-link-icon" href="{% url 'cart' %}" title="Shopping cart" aria-label="View shopping cart">
            <div>
                <i class="fas fa-shopping-basket navbar-icon"></i>
                {% if request.session.cart.count and request.session.cart.count != 0 %}
                <div id="cart-counter">{% if request.session.cart.count > 9 %}9+
                    {% else %}{{ request.session.cart.count }}{% endif %}</div>
                {% endif %}
            </div>
        </a>
    </div>
</nav>

