{% load static %}

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white small-box-shadow">

    <div>
        <a class="navbar-brand px-1 mr-md-1" href="{% url 'index' %}">
        <img src="{% static 'img/mainbrand.png' %}" alt="Re-boot brand">
    </a>
    </div>

    <!-- Cart icon positioned to left of toggler for mobile devices -->
    <div class="d-lg-none">
        <a class="pr-1 nav-link nav-link-icon" href="{% url 'view_cart' %}" title="Shopping cart" aria-label="View shopping cart">
            <div>
                <i class="cart fas fa-shopping-cart navbar-icon"></i>
            </div>
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item {% if page == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Home {% if page == "home" %}<span
                        class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'explained' %}">Re-Boot Explained</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="{% url 'juniors' %}">Juniors</a>
                    <a class="dropdown-item" href="{% url 'adults' %}">Adults</a>
                    <a class="dropdown-item" href="{% url 'bootquality' %}">Boot Quality</a> 
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    BootShop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'product-filter' category='Juniors' %}">Juniors</a>
                    <a class="dropdown-item" href="{% url 'product-filter' category='Adults' %}">Adults</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Help
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'faqs' %}">FAQ's</a>
                    <a class="dropdown-item" href="{% url 'contact' %}">Contact Us</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
            <input class="form-control" type="text" placeholder="Find Brand.." name="search" style="width: 120px; height: 34px;">
            <button type"submit"><i class="fas fa-search"></i></button>
            </form>
            <!-- User registration and authentication -->
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">MyReBoot</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <!-- Cart icon positioned to right of navbar for uncollapsed navbar -->
    <div class="d-none d-lg-inline-block">
        <a class="pr-1 nav-link nav-link-icon" href="{% url 'view_cart' %}" title="Shopping cart" aria-label="View shopping cart">
            <div>
                <i class="cart fas fa-shopping-cart navbar-icon"></i>
            </div>
        </a>
    </div>
    <div class="pr-3">
        {% if product_count > 0 %}
        <div class="badge">{{ product_count }}</div>
        {% endif %}
    </div>
</nav>
