{% load static %}
<!-- Navbar design to cover user logged in and logged out -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white small-box-shadow">

    <div>
        <a class="navbar-brand px-1 mr-md-1" href="{% url 'index' %}">
        <img src="{% static 'img/mainbrand.png' %}" alt="Re-boot brand">
    </a>
    </div>

    <!-- Navbar collapses in a mobile view. Full navbar restored in both tablet & desktop views -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <!-- Dropdown options include Home, About, Bootshop & Help -->
            <li class="nav-item {% if page == 'home' %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Home {% if page == "home" %}<span
                        class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'explained' %}">Re-Boot Explained</a>
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" href="{% url 'juniors' %}">Juniors</a>
                    <a class="dropdown-item" href="{% url 'adults' %}">Adults</a>
                    <a class="dropdown-item" href="{% url 'bootquality' %}">Boot Quality</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    BootShop
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'product-filter' category='Juniors' %}">Juniors</a>
                    <a class="dropdown-item" href="{% url 'product-filter' category='Adults' %}">Adults</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Help
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'faqs' %}">FAQ's</a>
                    <a class="dropdown-item" href="{% url 'contact' %}">Contact Us</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- Search function enables user to locate rugby boot products by product make -->
            <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
                <input class="form-control" type="text" placeholder="Find Brand.." name="search" style="width: 120px; height: 36.88px;">
                <button type "submit"><i class="btn btn-outline-dark fas fa-search" style="color:orange"></i></button>
            </form>

            <!-- User registration and authentication -->
            {% if user.is_authenticated %}
            <li class="pt-1 nav-item">
                <a class="nav-link" href="{% url 'profile' %}">MyReBoot</a>
            </li>
            <li class="pt-1 nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li>
                <a id="cart-popover" class="btn" data-placement="bottom" title="Shopping Cart">
                    <!-- Cart icon positioned to right of navbar for uncollapsed navbar -->
                    <span class="cart fas fa-shopping-cart navbar-icon"></span>
                </a>
            </li>
            <!-- Product counter positioned at top right corner of shopping cart -->
            <li class="badge-spacer">{% if product_count > 0 %}<span class="badge"> {{ product_count }} </span>{% endif %}</li>
                    
            <!-- Pop over view powerered by jQuery. Informs user of the GBP value of their cart & button to view cart contents -->
            <div id="popover_content_wrapper" style="display: none">
                <p><strong>{{ user|capfirst }}'s spend:</strong></p>
                <div>
                    <h5>Total: £ {{ total }}</h5>

                    <a href="{% url 'view_cart' %}" class="btn btn-add-review">
                    <span class="fas fa-shopping-cart"></span> View Cart
                </a>
                </div>
            </div>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
