{% extends 'base.html' %} {% load static %} {% load bootstrap_tags %} {% block page_title %}Login Page{% endblock %} {% block page_heading %}User Login{% endblock %} {% block content %}

<!-- User Login form requesting username and password -->
<div class="pt-3 pb-3 container">
<div class="row">
    <div class="px-3 py-3 col-md-4 adults-image text-center">
            <img src="{% static 'img/hello.png' %}" alt="ball carrier image">
        </div>
    <div class="col-md-4 bg-light">
        
        <div class="row">
            <div class="pt-2 col col-12 text-center">
                <h4>Sign In</h4>
                <p class="text-secondary">Re-Boot is just a click away...</p>
            </div>
        </div>

        <div class="row">
            <div class="col col-12">
                <form method="POST">
                    {% csrf_token %}
                    {{ login_form | as_bootstrap }}
                    <div class="text-left">
                        <a href="{% url 'password_reset' %}" class="text-secondary">Password forgotten?</a>
                    </div>
                    <button class="btn btn-read-more" type="submit">Log in</button>
                    <div class="text-center mt-4">
                        <p class="text-secondary">Not yet registered? <a href="{% url 'register' %}">Join Re-Boot</a></p>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    <div class="px-3 py-3 col-md-4 adults-image text-center">
            <img src="{% static 'img/hello.png' %}" alt="ball carrier image">
        </div>
</div>
</div>
{% endblock %}
