{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {% block content %}

<!-- Password reset form background image banner -->
    <img class="img-fluid m-0 p-0" src="{% static 'img/password-background1.jpg' %}" alt="Password Reset Form">

<!-- Form for user to specify their email for Re-Boot to send instructions on how to change their password -->
<div class="pt-3 pb-5 container">
    <div class="row">
        <div class="col-12 text-center">
            <h4>Password reset</h4>
            <hr>
            <div class="pt-2">
                <form method="post" class="accountform">
                    <p>Please specify your email address to receive instructions for resetting it.</p>
                    <br>
                    <div class="pt-2">
                        <div style="display:none">
                            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                        </div>
                    </div>
                    {{ form.email.errors }}
                    <p><label for="id_email" class="control-label required-field"><strong>E-mail address:</strong></label> {{ form.email }} <input type="submit" value="Reset password" /></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
