{% extends "base.html" %} {% block title %}Setting New password{% endblock %} {% block content %} {% if validlink %}

<!-- Password reset confirm background image banner -->
    <img class="img-fluid m-0 p-0" src="{% static 'img/password-background1.jpg' %}" alt="Password Reset Confirm">

<div class="pt-3 container text-center">
    <div class="row">
        <div class="col-12 text-center">
            <h4>Time to reset your password</h4>
            <hr>
            <p>Please enter your new password twice.<br /> So we can verify you typed it in correctly.</p>
        </div>
        <div class="px-3 py-3 product-image text-right">
        <form action="" method="post" class="accountform">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1"><strong>New password:</strong></label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2"><strong>Confirm password:</strong></label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
        </div>
    </div>
</div>
{% else %}
<div class="pt-3 container text-center">
    <div class="row">
        <h4 class="pt-3 text-center">Password reset unsuccessful</h4>
    </div>
    <div class="row">
        <p>The password reset link was invalid, <br /> possibly because it has already been used. <br /> Please request a new password reset.</p>
    </div>
</div>
{% endif %} {% endblock %}
