{% extends "base.html" %}

{% block title %}Password reset complete{% endblock %}

{% block content %}

<header id="password-image" class="pt-3 col-12" alt="Password reset complete">
    <div class="pt-3 container text-center">
        <div class="row">
            <div class="col-12 text-center">
            <div class="password-header-text" data-aos="zoom-in">Password reset complete</div>
            <hr class="short-orange" data-aos="fade-left"></hr>
        </div>
            <p class="password-text">Your password has been set.  You may go ahead and log in now.</p>
            <p><a href="{{ login_url }}">Log in</a></p>
        </div>
    </div>
</header>
{% endblock %}