{% extends "base.html" %} {% block title %}Password reset successful{% endblock %} {% block content %}

<header id="password-image" class="pt-3 col-12" alt="Emailing instructions">
<div class="pt-3 container">
    <div class="row">
        <div class="col-12 text-center">
            <div class="password-header-text">You're almost there...</div>
            <hr class="short-orange"></hr>
            <p class="password-text">We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>

            <p class="password-text">You should be receiving it shortly.</p>
        </div>
        <div class="pt-2 pb-4 col-12 text-center">
            <i class="fas fa-lock"></i>
            <i class="fas fa-lock"></i>
            <i class="fas fa-lock"></i>
        </div>
    </div>
</div>
</header>
{% endblock %}
