{% extends "base.html" %} {% block title %}Password reset successful{% endblock %} {% block content %}

<!-- Password reset done background image banner -->
    <div class="password-background"></div>

<div class="pt-3 container">
    <div class="row">
        <div class="col-12 text-center">
            <h4>You're almost there...</h4>
            <hr>
            <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>

            <p>You should be receiving it shortly.</p>
        </div>
    </div>
</div>
{% endblock %}
