{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Users image and ID -->
<div class="container col-sm-12 col-md-3">
        <div class="row">
            <figure>
                <img src="{% static 'img/gravatar.png' %}" alt="gravatar image">
            </figure>
            <h4 class="name-heading">Name: {{ creator }}</h4>
        </div>
    </div>

<!-- User Re-boot membership summary -->
<div class="container col-sm-12 col-md-9">
    <div class="row">
        
    </div> 
</div>

{% endblock %}
