{% extends 'base.html' %} {% load static %} {% block content %}

<h4 class="pt-3 pb-1 col-12 text-center">{{ user|capfirst }}'s Re-Boot:</h4>
<hr>
<div class="row">
    <!-- Users image and ID -->
    <div class="col-lg-3">
        <div class="px-3 py-3 gravatar-image text-center">
            <img src="{% static 'img/gravatar.png' %}" alt="gravatar image">
        </div>
        <p class="user-intro text-center"><strong>Welcome, {{ user|capfirst }}</strong></p>
    </div>
    <!-- Rugby Boot Donation -->
    <div class="col-lg-3">
        <h5 class="text-center">Unwanted Boots</h5>
        <div class="px-3 py-3 text-center">
            <img src="{% static 'img/stepthree.png' %}" alt="donate">

            <div class="pt-3"></div>
            <div class="text-center"><a href="{% url 'create_a_product' %} " class="btn btn-read-more">Donate</a></div>
        </div>
    </div>
    <!-- Create a Blog conversation -->
    <div class="col-lg-3">
        <h5 class="text-center">Start a Blog</h5>
        <div class="px-3 py-3 text-center">
            <img src="{% static 'img/blog.png' %}" alt="blog">

            <div class="pt-3"></div>
            <div class="text-center"><a href="{% url 'new_post' %}" class="btn btn-read-more">Blog</a></div>
        </div>
    </div>
    <!-- Change password to maintain personal data security -->
    <div class="col-lg-3">
        <h5 class="text-center">Password Change</h5>
        <div class="px-3 py-3 text-center">
            <img src="{% static 'img/privacy.png' %}" alt="change password">

            <div class="pt-3"></div>
            <div class="text-center"><a href="{% url 'password_reset' %}" class="btn btn-read-more">Reset</a></div>
        </div>
    </div>
</div>
{% endblock %}
