{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %}

{% block page_heading %}User Registration{% endblock %}

{% block content %}

<!-- Form created to collect User's email, username, password & repeat password --> 
<main class="pt-3 container" id="main">
{% block heading %}<h4>Register Page</h4>{% endblock %}
<form method="POST">
        {% csrf_token %}
        {{ registration_form | as_bootstrap }}
        <button type="submit" class="btn btn-read-more">Register</button>
    </form>
    <br>
    <p>Already Registered? Click <a href="{% url 'login' %}">here.</a></p>
</main>
{% endblock %}
