{% extends 'base.html' %}
{% load static %}
{% block head_title %}Search : {{ query }}{% endblock %}

{% block content %}
<section class="container">
    <div class="row text-center search-row">
        <div class="col-12">
                <h2 class="m-2">Showing <span style="color:orange">{{ count }}</span> result{% if count > 1 %}s{% endif %} for the search: <span style="color:orange">{{ query }}</span></h2>
        </div>
    </div>
    <div class="row pb-3">
        {% include 'product_search.html' %}
    </div>
</section>
{% endblock %}
