{% extends 'base.html' %} {% load static from staticfiles %} {% load bootstrap_tags %} {% block content %}
<div class="row row-flex">
    {% for item in cart_items %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">

        <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>

        <div class="caption">
            <p class='cart-product-name'>{{ item.product.name }}</p>
            <p class='product-price'><span class="fas fa-pound-sign" aria-hidden="true"></span>{{ item.product.price }}</p>

            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %} 
                <div class="form-group">
                    <label for="exampleInputAmount" class="sr-only">New Qty</label>
                    <div class="input-group">
                        <div class="input-group-addon">Qty</div>
                        <input name="quantity" type="number" min="0" max="999" class="form-control">
                        <div class="input-group-addon">{{item.quantity}}</div>
                    </div>
                </div>
                <button type="submit" class="btn info-btn"><span class="fas fa-edit"
                        aria-hidden="true"></span></button>
                <form action="{% url 'remove_from_cart' item.product.id %}">
                    <button type="submit" class="btn info-btn"><span class="far fa-trash-alt"
                            aria-hidden="true"></span></button>
                </form>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class='row'>
    <p>Total</p>
    <p><span class="fas fa-pound-sign" aria-hidden="true"></span>{{ total }}</p>
    <!-- Add {% url 'checkout' %} once checkout app created -->
    <a href="#" class="btn info-btn" role="button"><span class="far fa-credit-card"
            aria-hidden="true"></span>Checkout</a>
</div>
{% endblock %}
