{% extends 'base.html' %} {% load static %} {% load bootstrap_tags %} {% block content %}

<!-- Rugby image banner -->
    <img class="img-fluid m-0 p-0" src="{% static 'img/scrumtime4.jpg' %}" alt="Shopping Cart">

<div class="pt-2 pb-1 col-12 product-category text-center">
    <h3>Cart Contents</h3>
</div>

<div class="pt-3 row row-cols-1 row-cols-md-3">
    {% for item in cart_items %}
    <!-- The for loop is looping over item in cart_items because we're only going to show what's currently in our cart. -->
    <div class="col mb-1">
        <div class="panel-body">
            <h5 class="px-2 py-2">{{ item.product.customer }}</h5>
            <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}'); height:200px; width:200px"></div>
            <p class="pl-2"><strong>Make: </strong>{{ item.product.make }}</p>
            <p class="pl-2"><strong>Size: </strong>{{ item.product.size }}</p>
            <strong>
                    <span class="pl-2 fas fa-pound-sign"
                        aria-hidden="true"></span>{{ item.product.price }}
                </strong>
            <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="product-input-amount" class="sr-only">New Qty</label>
                    <div class="input-group">
                        <div class="pl-2 input-group-addon text-center"><strong>Qty:</strong></div>                        
                        <div class="pr-2 input-group-addon">{{item.quantity}}</div>
                    </div>
                </div>
                <div class="px-2 py-2">
                <input name="quantity" type="number" min="0" max="1" class="form-control">
                </div>
                <form method="POST" action="{% url 'remove_from_cart' item.id %}">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <div class="content-justify-center">
                    <button type="submit" class="btn btn-delete-item" aria-hidden="true">Delete</button>
                    </div>
                </form>
                <p class="pt-2 text-center"><small>Hint: To delete product, Enter zero value and click delete button.</small></p>
            </form>
            <div class="pb-2"></div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- User navigates from shopping cart to checkout upon clicking the checkout button -->
<hr>
<div class="pt-5 pb-5 container cart-contents-outer">
    <div class="pt-1 cart-contents">
        <span>Total: </span><i class="fas fa-pound-sign pl-2" aria-hidden="true"><span class="pl-1"></span>{{ total }}</i>
    </div>
    <div class="px-3 py-3 row">
        <a href="{% url 'checkout' %}" class="btn btn-checkout" role="button" aria-hidden="true">Checkout</a>
        <input type=button class="btn btn-back" value="&larr; Back" onClick="history.go(-1)">
    </div>
</div>
<hr>
{% endblock %}
